.hero-section {
    height: 95vh;
    background-image: url(../../assets/Hero_Section.jpg);
    background-size: cover;
    background-position: center;
    &__navigation-container{
        display: flex;
        // Align item horizontally
        justify-content: space-around;

        .navigation--1{
            width: 40%;
            display: flex;
            align-items: center;
            gap: 2rem;
            margin-top: 1rem;
            &-buttons{
                text-decoration: none;
                color: #fff;
                font-size: .8rem;
                font-weight: 500;
                border-bottom: 2px solid transparent;
                &:after {
                    display: block;
                    content: '';
                    border-bottom: 2px solid #111;
                    transform: scaleX(0);  
                    transition: transform 250ms ease-in-out;
                }
                &:hover:after { transform: scaleX(1); }
                &:after{  transform-origin:  0% 50%; }
            }
        }

        .navigation--2 {
            width: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
            margin-top: 1rem;  
        }
    }

    &__text-button {
        width: 85%;
        position: absolute;
        left: 55%;
        top: 50%;
        // 50% means 50 % of its computed width / height
        transform: translate(-45%, 0);
        margin: 0 auto;
        color: #fff;
        .hero-section__text{
            width: 40%;
            margin-bottom: 32px;
            &--1 {
                font-size: 62px;
                margin-bottom: 32px;
                line-height: 1.05;
            }
        }

        .hero-section__buttons{
            margin-bottom: 32px;
            &--1 {         
                background-color: rgb(255, 195, 86);
                color: black;
                border: 1px solid rgb(255, 195, 86);
                border-radius: 100px;
                padding: .5rem 1rem;
            }
        }
    }
}

// Card-container

.directory-card-container{
    height: 30vh;
    width: 75%;
    display: flex;
    justify-content: space-around;
    margin: 4rem auto;
    .card--1{
        .card--1-image{
            background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../../assets/Speakers.jpg);
        }
        &:hover .card--1-image,
        &:focus .card--1-image {
            transform: scale(1.1);
            transition: transform 400ms ease-in-out;
        }
    }
    .card--2{
        .card--2-image{
            background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../../assets/Headphones_Cat_BR.jpg);
        }
        &:hover .card--2-image,
        &:focus .card--2-image {
            transform: scale(1.1);
            transition: transform 400ms ease-in-out;
        }
    }
    .card--3{
        .card--3-image{
            background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../../assets/TV_Cat_BR.jpg);
        }
        &:hover .card--3-image,
        &:focus .card--3-image {
            transform: scale(1.1);
            transition: transform 400ms ease-in-out;
        }
    }
}

.card-text{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;
    font-weight: 500;
    font-size: 1.15rem;
}

.card-image {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.cards {
    height: 100%;
    width: 20%;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

// Homepage Text Container
.homepage-text-container{
    width: 100%;
    text-align: center;
    margin: 8rem auto;

    .text--1{
        margin-bottom: 3rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .text--2{
        font-size: 2.5rem;
        font-weight: 600;
    }
}

// Background video
.background-video-container{
    height: 80vh;
    width: 80%;
    margin: 8rem auto;
    video{
        height: 100%;
        width: 100%;
    }
}

// Carousel
.carousel {
    height: 45vh;
    width: 80%;
    margin: 8rem auto;

    // Header and Buttons
    .carousel__buttons-header-container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        .carousel__header{
            font-size: 1.5rem;
            font-weight: 600;
        }

        .carousel__button{
            border: none;
            background-color: transparent;
            width: 30px;
        }  
    }

    // Carousel Track
    .carousel__track-container {
        height: 100%;
        width: 100%;

        .carousel__track {
            height: 100%;
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            overflow: auto;
            scroll-behavior: smooth;
            
            &::-webkit-scrollbar{
                display: none;
            }

            .carousel__slide{
                height: 100%;
                width: 20%;
                margin-right: 3%;
                flex: 0 0 auto;
                
                &:hover .carousel__images,
                &:focus .carousel__images {
                    border-radius: 5px;
                    transform: scale(1.1);
                    transition: transform 350ms ease-in-out;
                }
        
                &:hover .carousel__text:after{
                    transform: scaleX(1);
                }
        
                .carousel__text:after{  transform-origin:  0% 50%; }

                .carousel__images-container{
                    height: 85%;
                    width: 100%;
                    overflow: hidden;
                    
                    .carousel__images{
                        width: 100%;
                        height: 100%;
                        border-radius: 5px;
                    }
                }

                .carousel__text {
                    margin: 1rem 0;
                    font-size: 1.3rem;
                    font-weight: 500;
                    display: inline-block;
                    border-bottom: 5px solid transparent;
            
                    &:after {
                        display: block;
                        content: '';
                        border-bottom: 3px solid rgb(255, 195, 86);
                        transform: scaleX(0);  
                        transition: transform 350ms ease-in-out;
                    }
                    
                }
            }
        }
    }
}

// offer
.offer {
    width: 80%;
    height: 60vh;
    margin: 10rem auto;
    display: flex;
    justify-content: space-between;

    .offer__images{
        width: 100%;
        height: 60%;
    }

    .offer__headline {
        margin: 1.5rem 0;
        font-weight: 450;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        font-size: 1rem;
    }

    .offer__title {
        margin: 1.5rem 0;
        font-weight: 550;
        font-size: 2rem;
    }

    .offer__content {
        margin-top: 1.5rem;
        margin-bottom:2rem;
        font-size: 1.1rem;
    }

    .offer__button {

        background-color: #fff;
        border: 2px solid black;
        color: black;
        padding: 12px 32px;
        text-align: center;
        display: inline-block;
        cursor: pointer;
        border-radius: 32px;
        font-size: 1.1rem;
        font-weight: 550;
    }

    .offer--1{

        width: 47%;
        height: 100%;
        margin-left: 1%;
    }

    .offer--2{
        width: 47%;
        height: 100%;
        margin-right: 1%;
    }
}

// News
.news {
    height: 45vh;
    width: 80%;
    margin: 0 auto;
    // Display the news as a grid
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 10%;

    .news--1, .news--2, .news--3, .news--4{
        display: flex;
        justify-content: space-between;
    }

    .news__images-container{
        // It is the width of the item inside flex
        flex-basis: 33.3333%;
    }

    
    .news__text-container{
        flex-basis: 66.667%;
        margin: auto 5%;
    }

    .news__images{
        height: 100%;
        width: 100%;
    }

    .news__headline{
        font-size: .8rem;
        margin-bottom: 1.5%;
    }

    .news__title{
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1.5%;

    }

    .news__content{
        font-size: 1rem;
        font-weight: 450;
    }


}



// .speaker-section-content {
//     display: none;
//     position: absolute;
//     margin-top: 3rem;
//     margin-left: 2rem;
    
//     ul {
//         list-style: none;
//     }
// }

// .speaker-section-container {

//     &:hover{
//         .speaker-section-content{
//             display: block;
//         }
//     }
// }

// .navigation--1-drop-down-buttons {
//     font-size: 1.5rem;
//     text-decoration: none;
//     font-weight: 500;
//     color: black;
//     border-bottom: 2px solid transparent;
//     &:after {
//         display: block;
//         content: '';
//         border-bottom: 2px solid #111;
//         transform: scaleX(0);  
//         transition: all 250ms ease-in-out;
//     }
//     &:hover:after { transform: scaleX(1);}
//     &:after{  transform-origin:  0% 50%; }
// }